- title "Employee"

%p
  %strong Last Name:
  = @employee.last_name
%p
  %strong First Name:
  = @employee.first_name
%p
  %strong Enabled:
  = @employee.enabled

%p
  = link_to "Edit", edit_employee_path(@employee)
  |
  = link_to "Destroy", @employee, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", employees_path
