= semantic_form_for @punch do |f|
  / = f.error_messages
  = f.inputs do
    = f.input :employee
    = f.input :in, :as => :radio, :label => "", :collection => [["In", true], ["Out", false]]
    = f.input :category, :as => :radio
  = f.buttons