- title "Timesheet", false

%h1#date_range= "#{1.week.ago.beginning_of_week.to_date} to #{1.week.ago.end_of_week.to_date}"

- Employee.find(:all, :order => "last_name").each do |emp|
  - next if !emp.enabled || !emp.punches.first
  - total_time = 0
  %h2= emp.display_name
  - 1.week.ago.beginning_of_week.to_date.upto(1.week.ago.end_of_week.to_date) do |date|
    - punch_list = emp.punches.find(:all, :conditions => {:created_at => date.to_time..date.to_time+1.day})
    - next if !punch_list.first
    - time_in = 0
    - time_out = 0
    %h4.time_week_day= "#{Date::DAYNAMES[date.wday]} - #{date.month}/#{date.mday}"
    - if punch_list.count % 2 > 0
      %strong.time_missing_punch= "Error: Missing Punch"
    %table
      - punch_list.each do |punch|
        - punch.in == 1 ? time_in = time_in + punch.created_at.to_f : time_out = time_out + punch.created_at.to_f
        %tr
          %td= punch.in == 1 ? "In" : "Out"
          %td= punch.created_at.strftime("%I:%M:%S %p")
          %td= link_to 'Edit', edit_punch_path(punch)
          %td= link_to 'Delete', punch, :confirm => 'Are you sure?', :method => :delete
    - time_today = (time_out - time_in)/60/60
    %h4.time_total_daily= "#{sprintf('%.3f', time_today)} hours"
    - total_time = total_time + (time_out - time_in)
  %h3.time_total_weekly= "#{sprintf('%.3f', total_time/60/60)} hours"
  %hr

