- title "Punches"

%p= link_to "Add Employee", new_employee_path

- Employee.find_each do |emp|
  - time_in = 0
  - time_out = 0
  %h2= emp.display_name
  %table
    %tr
      %th Punch
      %th Time
      - emp.punches.find_each(:conditions => {:created_at => 1.week.ago.beginning_of_week...1.week.ago.end_of_week}) do |punch|
        - punch.in == 1 ? time_in = time_in + punch.created_at.to_f : time_out = time_out + punch.created_at.to_f
        %tr
          %td= punch.in == 1 ? "In" : "Out"
          %td= punch.created_at.getlocal
          %td= link_to 'Edit', edit_punch_path(punch)
          %td= link_to 'Destroy', punch, :confirm => 'Are you sure?', :method => :delete
  %h3= "#{(time_out - time_in).round/60/60} hours"

%p= link_to "New Punch", new_punch_path
