- title "Punches"

%p= link_to "Add Employee", new_employee_path

- Employee.all.each do |emp|
  %h3= emp.display_name
  %table
    %tr
      %th Punch
      %th Time
      - emp.punches.each do |punch|
        %tr
          %td= punch.in == 1 ? "In" : "Out"
          %td= punch.created_at.localtime
          %td= link_to 'Edit', edit_punch_path(punch)
          %td= link_to 'Destroy', punch, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Punch", new_punch_path
