<% title "Time Zones" %>

<table>
  <tr>
    <th>Time Zone</th>
  </tr>
  <% for time_zone in @time_zones %>
    <tr>
      <td><%= time_zone.time_zone %></td>
      <td><%= link_to "Show", time_zone %></td>
      <td><%= link_to "Edit", edit_time_zone_path(time_zone) %></td>
      <td><%= link_to "Destroy", time_zone, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Time Zone", new_time_zone_path %></p>
